.gallery-view-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;

  .thumb {
    flex: 20% 0 0;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    img, video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: object-fit 0.3s ease-in-out;
    }
  }
}

.gallery-view-2 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, auto);
  grid-auto-flow: row dense;
  width: 100%;
}


.gallery-view-3 {
  display: grid;
  align-content: stretch;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row dense;

  .thumb {
    max-height: 900px;
    grid-row: auto !important;
    object-fit: cover;
    overflow-y: hidden;

    img, video {
      object-fit: contain;
      height: fit-content
    }
    &.long overlay {
      background: linear-gradient(0, #ffffff, rgba(52, 0, 255, 0.0509803922), transparent 20%, transparent);
      transition: all 0.3s linear;
    }
  }
}