.gallery-view-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;

  .thumb {
    flex: 12.5% 0 0;
    aspect-ratio: 1 / 1.3;
    object-fit: cover;

    img, video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: object-fit 0.3s ease-in-out;
    }
  }
}

.gallery-view-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .thumb-drag-wrapper, .thumb {
    max-height: 600px;
    min-height: 100px;
    min-width: 200px;
    max-width: 235px;
    flex: 12.5% 1 1;
  }
}


.gallery-view-3 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: row dense;

  .thumb {
    grid-row: auto !important;
    object-fit: cover;
    overflow-y: hidden;

    img, video {
      object-fit: contain;
      height: fit-content
    }
  }
}

.safe-view {
  .thumb {
    img, video {
      filter: brightness(0.5) saturate(0.3) blur(40px);
    }
  }

  .modal {
    img, video {
      filter: brightness(0.5) saturate(0.3) blur(80px);
    }
  }
}