.hidden {
  display: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blur img, .blur video {
  filter: blur(50px);
}

#main-container {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.video-mark {
  font-size: 80px;
  color: white;
  animation: pulse 1s linear infinite;
  top: calc(50% - 47px);
  position: absolute;
  left: calc(50% - 35px);
  filter: drop-shadow(1px 1px 1px black);
}

body {
  height: 100vh;
}

.main-split {
  height: calc(100vh - 58px);

  nav {
    height: calc(100vh - 58px);
  }
}

#section-r34 {
  height: 100%;
}

#tags-fav-select {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  max-height: 60vh;
}

.modal > i {
  z-index: 1;
  position: fixed;
}

.btn-order svg::before {
  transition: .2s linear;
  &.flip{
    transform: rotateX(180deg);
  }
}

$tag-colors: (
        0: primary,
        1: secondary,
        2: info,
        3: success,
        4: danger,
        5: warning
);

@each $class, $color in $tag-colors {
  .tag-type-#{$class} {
    background-color: rgb(var(--bs-#{$color}-rgb));
    order: -#{$class};
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(12px);
  z-index: -1;
  transform: scale(1.2);
}

.thumb {
  background-color: transparent !important;
  transition: .4s ease-out;
  position: relative;
  overflow: visible;
  border-color: transparent;

  img, video{
    margin: auto 0;
  }

  p.title {
    color: white;
    text-align: center;
    font-size: 32px;
    padding: 0;
    margin: auto;
    filter: drop-shadow(3px 2px 1px black);
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 5px;
  transition: .1s linear;
  z-index: 50;

  i {
    font-size: 22px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
  }
}

.overlay svg {
  height: 22px;
  width: auto;
  margin: 4px;
}

.overlay .dropdown-toggle:after {
  content: none !important;
}