.sidebar {
  &.open {
    margin-left: 0;
  }

  min-width: 320px;
  max-width: 320px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: -320px;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 58px;
}

.custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;

  .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.tag-list {

  button {
    padding: 3px;
  }

  .btn-group {
    margin: 2px;
  }
}
