@use 'variables';

.sidebar {
  &.open {
    margin-left: 0;
  }

  min-width: variables.$sidebar-width;
  max-width: variables.$sidebar-width;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: -(variables.$sidebar-width);
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: variables.$navbar-height;
}

.custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;

  .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.tag-list {
  max-height: 610px;
  overflow-y: scroll;
  margin-bottom: 10px;

  button {
    padding: 3px;
  }

  .btn-group {
    margin: 2px;
  }
}