const Settings = {
    SafeView: false,
    BackgroundImg: true,
    CheckRatio: true,
    MaxThumbsPerPage: 32,
    Resize: true,
    LongView: true,
    HttpProxy: false,
};

export default Settings;